$bg-color0: #303030;
$bg-color1: #ffffff;
$bg-color2: #dfdfdf;
$bg-color3: #f2f2f2;
$bg-color4: #f6c570;
$bg-color5: #68cac6;
$bg-color6: #89c47d;
$bg-color7: #ff856c;
$color0: #4d4d4d;
$color1: #ffffff;
$color2: #e1e1e1;
$color3: #b3b3b3;
$color4: #01aece;
$font-default: 'Barlow Condensed', sans-serif;